body { 
    padding: 0px;
    margin: 0px; 
    background-color: #70867C;
}

h1 {
    
    box-shadow: 1px 1px 5px black;
    padding: 15px;
    font-family: helvetica, arial, sans-serif;
    font-size: 52px;
    background: #E7F097; 
    text-align: center;
    color: #70867C;
    text-shadow: 1px 1px 1px #000;
} 

h2 { 
    text-align: center;
    color: #eee;
    
}

ul {
    padding: 0px;
    margin: 0px;
}


li { 
    
    background-color: #F4C13F;
    padding: 15px;
    border-radius: 5px;
    margin: 15px;
    text-align: center;
    list-style-type: none;
    box-shadow: 1px 1px 5px black;
        
} 

li:hover { 
}

a { 
    font-family: helvetica, arial, sans-serif;
    font-size: 2em;  
    color: #FB581E; 
    width: 100%;
} 

a:link {text-decoration: none}
a:visited {text-decoration: none;}
a:active {text-decoration: none}
a:hover {text-decoration: underline; color: red; }

footer {
    position: absolute;
    bottom: 0px;
    background: 
    rgba(0, 0, 0, 0.7);
    width: 100%;
    color: #BBB; 
    font-family: helvetica, arial, sans-serif;
    font-size: 0.5em;
    padding:5px;
    text-align: center;
} 