---
layout: default
title: Main  
---

<!-------------------- Games  --------------------> 


<!-- no encontrado -->
<div class="row header"> 
	
<ul class="block-grid three-up mobile project_preview">
		
	
    {% for game in site.pages %} 
	{% if game.category contains 'game' %} 	
	<li class = "game"> 
		<a href={{game.url}}> 
			<!-- not yet 
			<a href="{{root}}{{ people.url }}"> 
			-->
		  	<img src="images/juegos/{{game.img|downcase}}.png" alt="{{game.title}}"/>  
			<p> {{game.title}}  </p> 		
		</a> 
	
	</li> 
	
	{% endif %}  	
    {% endfor %}  

</ul> 
	
</div>






