---
layout: default
title: Main  
---

  
<!-------------------- People  --------------------> 


<!-- no encontrado -->
<div class="row header"> 
	
<ul class="block-grid five-up mobile project_preview">
		
	
    {% for people in site.pages %} 
	{% if people.category contains 'participant' %} 	
	{% if people.asistencia contains 'si' %}  
	<li class = "people"> 
		<a href="notyet.html"> 
			<!-- not yet 
			<a href="{{root}}{{ people.url }}"> 
			-->
		  	<img src="images/people/{{people.img|downcase}}" alt="{{people.name}}"/>  
			<p> {{people.name}}  </p> 		
		</a> 
	
	</li> 
	
	{% endif %}  	
	{% endif %}  	
    {% endfor %}  

</ul> 


</div>




